In [25]:
import numpy as np
import pandas as pd
import pathlib
from tqdm.auto import tqdm

import ray

In [27]:
data_baseline = pd.read_stata("Data/StudyData/BiHealth_20230313.dta")

In [29]:
data_images = pd.read_stata("Data/StudyData/BiHealth_20230313_Long.dta")

In [30]:
deaths = pd.read_stata("Data/StudyData/DeathsLong2019HC3.dta")
deaths

        bihid        dod  diag  underly_flag
0    RID02874 2018-11-11   C61           1.0
1    RID07411 2018-08-21  C189           1.0
2    RID00626 2018-10-27   I64           1.0
3    RID07082 2018-08-12  M301           1.0
4    RID05386 2018-11-09  J841           1.0
..        ...        ...   ...           ...
807  RID06661 2018-12-20                 0.0
808  RID01844 2019-02-10                 0.0
809  RID00234 2018-12-19                 0.0
810  RID02958 2018-12-21                 0.0
811  RID07348 2018-06-25                 0.0

[812 rows x 4 columns]

In [31]:
hes = pd.read_stata("Data/StudyData/HESLong2019HC3.dta")
hes

           bihid   admidate  cmds_year   Diagno   Diag
0       RID04293 2018-06-20  2018/2019  diag_01   L570
1       RID01347 2018-09-21  2018/2019  diag_01   N390
2       RID01705 2018-04-16  2018/2019  diag_01   R13X
3       RID03183 2018-12-04  2018/2019  diag_01   J690
4       RID06644 2018-12-27  2018/2019  diag_01  M8694
...          ...        ...        ...      ...    ...
261888  RID04469 2017-04-14  2017/2018  diag_20   Z966
261889  RID05414 2016-10-07  2016/2017  diag_20   C679
261890  RID04796 2016-11-23  2016/2017  diag_20   I251
261891  RID07317 2017-01-25  2016/2017  diag_20   Z926
261892  RID07317 2017-01-25  2016/2017  diag_20   C786

[261893 rows x 5 columns]

In [ ]:
import pandas as pd
image_df =

In [23]:
entity = "cardiors"
project="retina"
tag = "220812"

In [24]:
import wandb
api = wandb.Api(timeout=60)
entity, project = "cardiors", "retina"  # set to your entity and project 
tag = experiment
runs = api.runs(entity + "/" + project, filters={"tags": {"$in": [tag]}})

NameError: name 'experiment' is not defined

In [ ]:
config.onnx_path

,bihid,ml_glaucoma_gradability_grad_l,ml_glaucoma_gradability_grad_r,ml_glaucoma_gradability_wdiff_l,ml_glaucoma_gradability_wdiff_r,age3,alcohol3,cigstat3,systol3,diastol3,mi3,cva3,sex,bmi3,cholesterol3,triglyceride3,hdl3,ldl3
0,RID00001,0.955591,0.760914,0.043725,0.226360,86.127310,2.0,3.0,138.0,72.5,0.0,0.0,2,33.455266,6.4,1.5,1.53,4.27
1,RID00002,0.986005,0.943931,0.013981,0.054606,70.505133,2.0,3.0,105.5,68.5,0.0,0.0,2,25.593164,3.9,2.3,1.50,1.40
2,RID00003,0.990022,0.981540,0.009343,0.017813,64.577687,1.0,2.0,128.5,78.5,0.0,0.0,2,25.372781,3.9,2.1,1.52,1.48
3,RID00004,0.894128,0.945897,0.103611,0.052175,66.740589,1.0,3.0,154.5,87.5,0.0,0.0,2,27.070312,6.0,1.3,1.80,3.70
4,RID00005,0.071069,NaN,0.038749,NaN,64.854209,2.0,3.0,120.5,71.0,0.0,0.0,1,23.199416,4.7,1.9,1.25,2.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7406,RID07407,0.940662,0.962702,0.058866,0.037013,73.675565,1.0,3.0,132.0,73.0,0.0,0.0,1,25.032679,3.9,1.2,1.39,2.01
7407,RID07408,0.719619,0.637359,0.276180,0.355266,64.533881,1.0,3.0,147.5,81.0,0.0,0.0,2,27.957894,6.8,1.0,1.76,4.64
7408,RID07409,0.635806,0.926931,0.342445,0.072251,82.475017,NaN,NaN,144.5,80.0,0.0,0.0,2,26.053959,6.4,1.5,1.95,3.85
7409,RID07410,0.861651,0.054378,0.133713,0.028145,82.568104,1.0,2.0,109.5,63.5,0.0,0.0,1,29.726252,NaN,NaN,NaN,NaN
7410,RID07411,0.988544,0.988673,0.011148,0.011106,73.927447,2.0,2.0,153.0,89.0,0.0,0.0,2,28.429765,4.9,1.9,1.39,2.71

In [13]:
pd.read_stata("Data/Phecodes/phecode_lookup.dta")

/tmp/ipykernel_57290/1966706406.py:1: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  pd.read_stata("Data/Phecodes/phecode_lookup.dta")

,phecode,phecode_string,phecode_category,sex,icd10_only,phecode_top,leaf
0,8.00,Helicobacter [H. pylori],ID,Both,0.0,8.0,1.0
1,10.00,Corynebacterium,ID,Both,0.0,10.0,1.0
2,79.00,Other fungal infections,ID,Both,0.0,79.0,1.0
3,41.00,Coxiella,ID,Both,0.0,41.0,1.0
4,54.00,Hepatovirus,ID,Both,0.0,54.0,0.0
...,...,...,...,...,...,...,...
3657,790.15,Harlequin fetus*,Cong,Both,1.0,790.0,1.0
3658,341.24,Hemiplegia and hemiparesis following stroke,Neuro,Both,0.0,341.0,1.0
3659,345.60,Cerebral autosomal dominant arteriopathy with ...,Neuro,Both,1.0,345.0,1.0
3660,440.15,Cerebral venous sinus thrombosis,Cardio,Both,0.0,440.0,1.0
3661,249.40,Heredofamilial amyloidosis*,Metab,Both,1.0,249.0,1.0

In [17]:
img.shape

(1904, 1904, 3)

In [10]:
!pwd

/Fastdrive1/BiHealth